<div class="container">
    @for (projekcija of cart; track projekcija) {
    <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
            <h2>{{projekcija.film.name}}</h2>
            <p>
                Duration: {{projekcija.film.duration}} min
                <br>
                Genre: {{projekcija.film.genre}}
                <br>
                Cast: {{projekcija.film.actors}}
                <br>
                Producer: {{projekcija.film.producer}}
                <br>
                Price: {{projekcija.price}} $
                <br>
                Date: {{projekcija.startingAt}}
            </p>
        </mat-card-content>
    </mat-card>
}
<button mat-button [mat-dialog-close]>Finish Booking</button>
</div>